@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
  background: #0a0a0a;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #a855f7, #7e22ce);
  border-radius: 10px;
  border: 2px solid #1a1a1a;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #c084fc, #9333ea);
}
